<!DOCTYPE html>
<html>
<head>
  <title>The request you issued was Forbidden (403)</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <!-- This file lives in public/403.html -->
  <div class="dialog">
    <h1>The request you issued was Forbidden.</h1>
    <p>If you are logged in then you are simply not allowed to do what you are trying to do.</p>
    <p>If you are not logged in, and you have credentials, then you probably need to use them.</p>
  </div>
</body>
</html>
